<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <a href="/">Home</a>
  <a href="/a">a</a>
  <a href="/b">b</a>
  <a href="/c">c</a>
  <a href="/e">e</a>
  <a href="/f">f</a>
  <a href="/g">g</a>
  <h1>A</h1>
</body>
</html>